.rbox-opening-li {
	width: 25%;
	float: left;
	border: none !important;
	margin-bottom: 40px;
}
.rbox-opening-li:hover a, .rbox-opening-li.rbox-opening-li-selected a {
	text-decoration: none !important;
}
.rbox-opening-position-info {
	display: block;
}
.teamList {
	float: left;
	margin-bottom: 30px;
}
.teamList li {
	position: relative;
	width: 200px;
	padding: 0;
	margin: 0 20px 20px 0;
	display: inline-block;
}
.teamList li span {
	padding: 10px;
	/*background: rgba(0,0,0,0.8);*/
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	width: 100%;
	left: 0;
	position: absolute;
	bottom: 0;
	line-height: 18px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 18%, rgba(0,0,0,0.48) 29%, rgba(0,0,0,0.68) 54%, rgba(0,0,0,0.85) 74%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(18%,rgba(0,0,0,0.3)), color-stop(29%,rgba(0,0,0,0.48)), color-stop(54%,rgba(0,0,0,0.68)), color-stop(74%,rgba(0,0,0,0.85)), color-stop(99%,rgba(0,0,0,0.99)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 18%,rgba(0,0,0,0.48) 29%,rgba(0,0,0,0.68) 54%,rgba(0,0,0,0.85) 74%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 18%,rgba(0,0,0,0.48) 29%,rgba(0,0,0,0.68) 54%,rgba(0,0,0,0.85) 74%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 18%,rgba(0,0,0,0.48) 29%,rgba(0,0,0,0.68) 54%,rgba(0,0,0,0.85) 74%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 18%,rgba(0,0,0,0.48) 29%,rgba(0,0,0,0.68) 54%,rgba(0,0,0,0.85) 74%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.teamList li span em {
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}
.advisor li img {
	border: 1px solid #ccc;
}
.bio {
	width: 300px;
    height: 250px;
	float: left;
	background: #FFF;
	padding: 30px;
	border: 1px solid #ccc;
	border-left: none;
}
.bio p {
	font-size: 18px;
}
.nomargin {
	margin: 0 !important;
}

/* Services */
.servicesList {
  margin-bottom: 50px;
}
.servicesList .detail-line {
  margin-top: 60px;
}
.servicesList h5 {
  color: #006ed9;
}
.servicesList ul {
  margin-bottom: 20px;
}
.servicesList ul li {
  margin-left: 20px;
  list-style-type: disc;
}
.iconbox-icon {
    margin: 0 0 10px;
    font-size: 32px;
    line-height: 60px;
}
.nav-1 .social-links a, .nav-2 .social-links a {
  font-size: 22px;
}
/* Services End */

/*Responsive*/
  /*For desktop*/
    @media (max-width: 1200px) {
      .teamList {
        float: none;
        width: 892px;
        margin: 0 auto 30px;
      }
      .teamList.advisor {
        float: left;
        width: auto;
      }
    }
  /*For ipad*/
    @media (max-width: 991px) {
      .teamList {
        width: 672px;
      }
      .rbox-widget {
          margin-left: 50px;
      }
      .rbox-opening-li {
        width: 50%;
      }
      section.carrers {
        padding-bottom: 0;
      }
      .teamList br {
          display: block;
      }
    }
  /*For mobile*/
    @media (max-width: 767px) {
      .teamList {
        width: 445px;
      }
    }
    @media (max-width: 639px) {
      .teamList.advisor {
        float: none;
        margin: 0 auto 20px;
        width: 222px;
      }
      .bio {
        float: none;
        margin: 0 auto 20px;
        left: -12px;
        position: relative;
      }
      .team-section h2 {
        text-align: center;
      }
    }
    @media (max-width: 479px) {
      .teamList {
        width: 222px;
      }
      .rbox-widget {
          margin-left: 30px;
      }
      .teamList.advisor {
        margin-bottom: 0;
      }
      .bio {
        border-left: 1px solid #ccc;
        width: 200px;
        height: auto;
      }
    }
    @media (max-width: 350px) {
      .teamList {
        width: 222px;
      }
      .rbox-widget {
          margin-left: 10px;
      }
      .rbox-opening-li {
        width: 48%;
        margin-right: 2%
      }
    }